html, body {
    cursor: url("https://cdn.custom-cursor.com/db/cursor/32/TikTok_Cursor.png"), default !important;
    
}
.btn {
    cursor: url("https://cdn.custom-cursor.com/db/pointer/32/TikTok_Pointer.png "), pointer !important;
}

iframe {
    cursor: url("https://cdn.custom-cursor.com/db/pointer/32/TikTok_Pointer.png "), pointer !important;
}

#player {
    cursor: url("https://cdn.custom-cursor.com/db/pointer/32/TikTok_Pointer.png "), pointer !important;
}